

body {
	
}

#container{
	width: 760px;
	height: auto;
	margin: auto;
}

#menu{
	width: 760px;
	height: 50px;
}

header{
	position: relative;
	width: : 760px;
	height: 150px;
	background: url("../ella/banner-curs.png") no-repeat;
	background-size: 100% 100%;
}

header div{
	width: 200px;
	position: absolute;
	right: 10px;
	bottom: 2px;
}

#content{
	float: left;
	width: 480px;
	height:auto;
	min-height: 200px;
}

#sidebar{
	float: right;
	width: 280px;
	height:auto;
	min-height: 200px;
}

footer{
	width: 760px;
	height: 66px;
	clear: both;
}

#logo{
	position: fixed;
	left: :5px;
}